[sssd]
services = nss, pam, autofs, sudo
config_file_version = 2
domains = default


[domain/default]
autofs_provider = ldap
cache_credentials = True
ldap_search_base = dc=slapd,dc=cs,dc=poste,dc=it
id_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_tls_cacert = /etc/ca.slapd.cs.poste.it.pem
# By default the LDAP URI will be discovered via DNS.
# The ldap_uri parameter can be set to one (or more) LDAP endpoints addresses
# ldap_uri = ldaps://slave-be.cs.poste.it,ldaps://slave-fe.cs.poste.it
{%if (sssd_ldap_uris|length)>0 %}
ldap_uri = {{ ",".join(sssd_ldap_uris) }}
{% endif %}
[nss]
homedir_substring = /home

[pam]

[sudo]

[autofs]

[ssh]

[pac]

[ifp]
